
<h2>
  Note: {{#if group.mark}}{{to-precision group.mark 3}}{{else}}-{{/if}}
</h2>


<div class="layout layout-align-center-center slider-container">
  <span class="women"><img class="icon" src='/female.png'> {{group.women}}</span>
  {{paper-slider class="flex md-primary" min=0 max=maxPeople value=group.men onChange=(action 'changeMen')}}
  <span class="men">{{group.men}} <img class="icon" src='/male.png'></span>
</div>

<p>
  {{paper-input label="Punkte" type='tel' value=group.points onChange=(action (mut group.points))}}
</p>
